@model Topic_5_Activity_3.Models.CustomerModel

<h3>Customer Details</h3>
@Html.DisplayNameFor(M => Model.name):@Html.DisplayFor(M => Model.name)
<br/>
@Html.DisplayNameFor(M => Model.age):@Html.DisplayFor(M => Model.age)
<br/>
<p>Updated at @DateTime.Now</p>
